%h1 Listing sliders

%table
  %tr
    %th Title
    %th Position
    %th Visible
    %th Image
    %th
    %th
    %th

  - @sliders.each do |slider|
    %tr
      %td= slider.title
      %td= slider.position
      %td= slider.visible
      %td= image_tag slider.slider_image_url(:thumb ) if slider.slider_image?
      %td= link_to 'Show', slider
      %td= link_to 'Edit', edit_slider_path(slider)
      %td= link_to 'Destroy', slider, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Slider', new_slider_path
