%p#notice= notice

%p
  %b Title:
  = @slider.title
%p
  %b Image:
  = image_tag @slider.slider_image_url(:thumb) if @slider.slider_image?
%p
  %b Position:
  = @slider.position
%p
  %b Visible:
  = @slider.visible

= link_to 'Edit', edit_slider_path(@slider)
\|
= link_to 'Back', sliders_path
