- content_for :page_header do
  %h1
    - if @event.new_record?
      Добавить событие
    - else
      Редактирование события
  %p= link_to "Назад", [:admin, :events]
      
= form_for [:admin, @event] do |f|
  %table
    %tr
      %th= f.label :title
      %td= f.text_field :title
    %tr
      %th= f.label :created_at
      %td= f.datetime_select :created_at
    %tr
      %th{:colspan => 2}
        = f.check_box :show
        = f.label :show
    %tr
      %td{:colspan => "2"}
        = f.label :body
        %br
        = f.text_area :body
      
  .actions= f.submit "Сохранить"
