- content_for :page_header do
  %h1
    - if @event.new_record?
      Добавить мероприятие
    - else
      Редактирование мероприятия
  %p= link_to "Назад", [:admin, :events]
      
= form_for [:admin, @event] do |f|
  %table
    %tr
      %th= f.label :title
      %td= f.text_field :title
    %tr
      %th= f.label :date
      %td= f.datetime_select :date
    %tr
      %th
      %td= image_tag @event.image_url if @event.image?
    %tr
      %td= f.label :image
      %td= f.file_field :image
    %tr
      %th= f.label :image_title
      %td= f.text_field :image_title 
    %tr
      %th{:colspan => 2}
        = f.check_box :visible
        = f.label :visible
    %tr
      %td{:colspan => "2"}
        = f.label :body
        %br
        = f.text_area :body
      
  .actions
    = f.submit "Сохранить"
    = f.submit "Применить"

