= form_for @dish_type do |f|
  -if @dish_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@dish_type.errors.count, "error")} prohibited this dish_type from being saved:"
      %ul
        - @dish_type.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :price
    = f.number_field :price
  .field
    = f.label :dish_id
    = f.number_field :dish_id
  .actions
    = f.submit 'Save'
