%h1 Listing dish_types

%table
  %tr
    %th Title
    %th Price
    %th Dish
    %th
    %th
    %th

  - @dish_types.each do |dish_type|
    %tr
      %td= dish_type.title
      %td= dish_type.price
      %td= dish_type.dish_id
      %td= link_to 'Show', dish_type
      %td= link_to 'Edit', edit_dish_type_path(dish_type)
      %td= link_to 'Destroy', dish_type, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Dish type', new_dish_type_path
