%p#notice= notice

%p
  %b Title:
  = @dish_type.title
%p
  %b Price:
  = @dish_type.price
%p
  %b Dish:
  = @dish_type.dish_id

= link_to 'Edit', edit_dish_type_path(@dish_type)
\|
= link_to 'Back', dish_types_path
