- content_for :page_header do
  %h1
    - if @article.new_record?
      Добавить отзыв
    - else
      Редактирование отзыва
      
= form_for [:admin,@article] do |f|
  %table
    %tr
      %th= f.label :title
      %td= f.text_field :title
    %tr
      %th= f.label :created_at
      %td= f.datetime_select :created_at
    %tr
      %th{:colspan => 2}
        = f.check_box :show
        = f.label :show
    %tr
      %td{:colspan => "2"}
        = f.label :body
        %br
        = f.text_area :body
      
  .actions= submit_tag "Сохранить"
