%h1 Listing sports

%table
  %tr
    %th Title
    %th
    %th
    %th

  - @sports.each do |sport|
    %tr
      %td= sport.title
      %td= link_to 'Show', sport
      %td= link_to 'Edit', edit_sport_path(sport)
      %td= link_to 'Destroy', sport, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Sport', new_sport_path
