.left_column
  .content
    %h3.dark-text= "#{t(:broadcasts)}. #{@sport.title}"
    = render "layouts/menu"
    %table.sports
      - @broadcasts.each do |broadcast|
        %tr
          %th= broadcast.showtime.strftime("%H:%m %d/%m/%Y")
          %td= broadcast.title

.right_column
  .image
    = @sport.image? ? (image_tag @sport.image_url) : image_tag("empty_image(415x300).png")
    = @sport.image_title if (@sport.image_title? && @sport.image?)
  = render "events/archive"