.left_column
	.movie
		%h3#dark_text= "Трансляции. #{@sport.title}"
		%hr
		= render "layouts/menu"
		%table
			- @broadcasts.each do |broadcast|
				%tr
					%td#dark_text= broadcast.showtime.strftime("%H:%m %d/%m/%Y")
					%td#light_text= broadcast.title
	= render "shared/footer"

.right_column
	= image_tag("rails.png")
	Подпись
	= render "events/archive"