.left_column
	.content
		%h3#dark_text= "#{t(:broadcasts)}. #{@sport.title}"
		%hr
		= render "layouts/menu"
		%table
			- @broadcasts.each do |broadcast|
				%tr
					%td#dark_text= broadcast.showtime.strftime("%H:%m %d/%m/%Y")
					%td#light_text= broadcast.title
	= render "shared/footer"

.right_column
	.image
		= @sport.image? ? (image_tag @sport.image_url) : image_tag("empty_image(415x300).png")
		= @sport.image_title if (@sport.image_title? && @sport.image?)
	= render "events/archive"