= form_for @movie do |f|
  -if @movie.errors.any?
    #error_explanation
      %h2= "#{pluralize(@movie.errors.count, "error")} prohibited this movie from being saved:"
      %ul
        - @movie.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :origin
    = f.text_field :origin
  .field
    = f.label :genre
    = f.text_field :genre
  .field
    = f.label :year
    = f.number_field :year
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :original_title
    = f.text_field :original_title
  .field
    = f.label :director
    = f.text_field :director
  .field
    = f.label :starring
    = f.text_field :starring
  .field
    = f.label :country
    = f.text_field :country
  .field
    = f.label :premiere
    = f.date_select :premiere
  .field
    = f.label :duration
    = f.time_select :duration
    .field
    = f.label :showtime
    = f.time_select :showtime
  .actions
    = f.submit 'Save'
