%h1 Listing movies

%table
  %tr
    %th Title
    %th Origin
    %th Genre
    %th Year
    %th Description
    %th Original title
    %th Director
    %th Starring
    %th Country
    %th Premiere
    %th Duration
    %th
    %th
    %th

  - @movies.each do |movie|
    %tr
      %td= movie.title
      %td= movie.origin
      %td= movie.genre
      %td= movie.year
      %td= movie.description
      %td= movie.original_title
      %td= movie.director
      %td= movie.starring
      %td= movie.country
      %td= movie.premiere
      %td= movie.duration
      %td= image_tag movie.image_url(:small_movie ) if movie.image?
      %td= link_to 'Show', movie
      %td= link_to 'Edit', edit_movie_path(movie)
      %td= link_to 'Destroy', movie, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Movie', new_movie_path
