.left_column
	.content
		%h3#dark_text АФИША КИНО НА НЕДЕЛЮ
		%hr
		= render "layouts/menu"
		%p 
			%h3#dark_text= @movie.title
		#light_text
			= @movie.origin
			,
			= @movie.genre
			,
			= @movie.year
		%p= @movie.description
		Оригинальное название:	
		= @movie.original_title
		%br
		Режиссер:
		= @movie.director
		%br
		В ролях:
		= @movie.starring
		%br
		Страна:
		= @movie.country
		%br
		Премьера:
		= @movie.premiere.strftime("%d.%m.%Y")
		%br
		Продолжительность:
		= @movie.duration.strftime("%H:%M")
	= render "shared/footer"
.right_column
	.image
		= @movie.image? ? (image_tag @movie.image_url) : image_tag("empty_image(415x300).png")
		= @movie.image_title if (@movie.image_title? && @movie.image?)
	= render "events/archive"
