= content_for :page_header do
  %h1 Резерв
  %p= link_to "Добавить", new_admin_reservation_path

- if @reservations.empty?
  %h2 Вы еще не добавили ни одной брони. 
  %p
    Хотите
    = link_to "добавить?", new_admin_reservation_path
%table.list
  %colgroup
    %col
    %col
    %col
    %col
    %col
    %col
    %col.w1
  %tr
    %th Время
    %th Имя
    %th Фамилия
    %th Персон
    %th Телефон
    %th Email
    %th
  - @reservations.each do |reservation|
    %tr
      %td= reservation.date_and_time.strftime("%H:%M  %d.%m.%Y")
      %td= reservation.firstname
      %td= reservation.lastname
      %td= reservation.persons
      %td= reservation.phone
      %td= reservation.email
      %td= link_to "Удалить", [:admin, reservation], :class => :del, :method => :delete


