- content_for :page_header do
  %h1
    - if @category.new_record?
      Добавить категорию
    - else
      Редактирование категории
      
= form_for [:admin,@section,@category] do |f|
  %table
    %tr
      %th= f.label :name
      %td= f.text_field :name
    %tr
      %th{:colspan => 2}
        = f.check_box :show
        = f.label :show
  .actions
    = f.submit "Сохранить"
    = f.submit "Применить"
