- content_for :page_header do
  %h1
    - if @slider.new_record?
      Добавить картинку
    - else
      Редактирование картинки
  %p= link_to "Назад", [:admin, :sliders]
  
= form_for [:admin, @slider] do |f|
  %table
    %tr
      %th= f.label :title
      %td= f.text_field :title
    %tr
      %th
      %td= image_tag @slider.slider_image_url if @slider.slider_image?
    %tr
      %td= f.label :slider_image
      %td= f.file_field :slider_image
    %tr
      %td= f.label :position
      %td= f.number_field :position
    %tr
      %th{:colspan => 2}
        = f.check_box :visible
        = f.label :visible
      
  .actions= f.submit "Сохранить"
