= content_for :page_header do
  %h1 Слайдер
  %p= link_to "Добавить", new_admin_slider_path

- if @sliders.empty?
  %h2 Вы еще не добавили ни одной картинки для слайдера. 
  %p
    Хотите
    = link_to "добавить?", new_admin_slider_path
%table.list
  %colgroup
    %col.w1
    %col
    %col.w1
  %tr
    %th 
    %th Подпись
    %th Раздел
  - @sliders.each do |slider|
    %tr
      %td.show= link_to "", [:toggleshow, :admin, slider], :class => slider.visible ? nil : "not-show"
      %td= link_to slider.title, edit_admin_slider_path(slider)
      %td= link_to "Удалить", [:admin, slider], :class => :del, :method => :delete


