- content_for :page_header do
  %h1 Слайдеры
  %p
    = link_to "Добавить слайдер", new_admin_slider_path
  
%table.list.sortable
  %colgroup
    %col.w1
    %col.w1
    %col.w1
    %col
    %col.w1
  - @sliders.each do |s|
    %tr{id: "pos_#{s.id}"}
      %td.handle= image_tag asset_path("admin/move_handler.png")
      %td.active= radio_button_tag :active, s.id, s.active, :onchange => "location = '#{active_admin_slider_path(s)}'"
      %td.show= link_to "", [:toggleshow,:admin,s], :class => s.visible ? nil : "not-show"
      %td= link_to s.title, edit_admin_slider_path(s)
      %td= link_to "Удалить", [:admin,s], :class => :del, :method => :delete
      
= sortable(sort_admin_sliders_path)
