%br
%ol.sortable
  - @sections.each do |s|
    %li{id: "list_#{s.id}", class: "no-nest"}
      %div= link_to s.title, [:edit,:admin,s]
      %ol.coll_wr
        %li.coll.cat
          %div.freeze Левая колонка
          - cats = s.dish_categories.where(:column => 0)
          = render "tree_in2", {:s => s, :cats => cats} unless cats.empty?
        %li.coll.cat
          %div.freeze Центральная колонка
          - cats = s.dish_categories.where(:column => 1)
          = render "tree_in2", {:s => s, :cats => cats} unless cats.empty?
        %li.coll.cat
          %div.freeze Правая колонка
          - cats = s.dish_categories.where(:column => 2)
          = render "tree_in2", {:s => s, :cats => cats} unless cats.empty?
%div{:style => "clear:both"}                                         