- content_for :page_header do
  %h1
    - if @section.new_record?
      Добавить раздел
    - else
      Редактирование раздела
      
= form_for [:admin,@section] do |f|
  %table
    %tr
      %th= f.label :title
      %td= f.text_field :title
    %tr
      %th= f.label :body
      %td= f.text_area :body
    %tr
      %th{:colspan => 2}
        = f.check_box :visible
        = f.label :visible
      
  .actions= submit_tag "Сохранить"
