- content_for :page_header do
  %h1
    - if @section.new_record?
      Добавить раздел
    - else
      Редактирование раздела

= render "admin/shared/globalize_switcher"

= form_for [:admin,@section] do |f|
  
  %table#russian_table
    - if @section.title == "On-line бронирование" || @section.title == "Отзывы" || @section.title == "Контакты и обратная связь" || @section.title == "Концепция и интерьер" || @section.title == "Основные блюда" || @section.title == "Завтраки" || @section.title == "Детское меню" || @section.title == "Барная карта"
    - else
      %tr
        %th= f.label :title
        %td= f.text_field :title
    %tr
      %th= f.label :body
      %td= f.text_area :body

  = f.globalize_fields_for :en do |g|
    %table#english_table
      - if @section.title == "On-line бронирование" || @section.title == "Отзывы" || @section.title == "Контакты и обратная связь"
      - else
        %tr
          %th= g.label :title
          %td= g.text_field :title
      %tr
        %th= g.label :body
        %td= g.text_area :body

  %tr
    %th{:colspan => 2}
      = f.check_box :visible
      = f.label :visible

  .actions
    = submit_tag "Сохранить"
    = submit_tag "Применить"
