.left_column
  .content
    %h3#dark_text О РЕСТОРАНЕ
    %hr
    = render 'layouts/menu'
    - if @section.title == "On-line бронирование"
    - else
      = @section.body
    
    - if @section.title == "On-line бронирование"
      - if notice == nil
        = @section.body
        = render 'reservations/form'
      - else
        %p= @text_thanks.body
    - elsif @section.title == "Отзывы"
      - @recalls.each do |recall|
        %p
          #dark_text= recall.created_at.strftime("%d/%m/%Y")
          %hr
          #light_text= recall.name
          =recall.body
    - elsif @section.title == "Контакты и обратная связь"
      <iframe width="250" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ru/maps?hl=ru&amp;q=%D0%BD%D0%BE%D0%B2%D0%B8%D0%BD%D1%81%D0%BA%D0%B8%D0%B9+%D0%B1%D1%83%D0%BB%D1%8C%D0%B2%D0%B0%D1%80+11&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%9D%D0%BE%D0%B2%D0%B8%D0%BD%D1%81%D0%BA%D0%B8%D0%B9+%D0%B1%D1%83%D0%BB.,+11,+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0&amp;ll=55.753215,37.582248&amp;spn=0.007028,0.021136&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small></small>
    - elsif @section.dish_categories != []
      - @section.dish_categories.visible.each do |category|
        %p
          #dark_text= category.name
        - category.dishes.visible.each do |dish|
          %p
            #light_text
              = "#{dish.name}"
          = dish.description
          - dish.dish_types.visible.each do |type|
            %p
              = type.title
              = type.price.to_s + " руб."



    -#@categories.each do |category|
      %p
        #dark_text= category.name
      -category.dishes.each do |dish|
        %p
          #light_text
            = "#{dish.name},"
            = number_to_currency(dish.price, :unit => "€")
          = number_to_human(dish.portion, :units => {:unit => "г"}, :precision => 0)








  = render "shared/footer"
.right_column
  .image
    - @section.images.each do |image|
      = image_tag image.image_url if image.image?
      = image.title if image.image?
  
  .bottom
    - if @section.title == "Отзывы"
      = render 'recalls/form'
    - elsif @section.title == "Контакты и обратная связь"
      = render 'messages/form'
    - else
      %h3#dark_text Информация для проведения банкетов
      %hr
      = @text_banquets.body