.left_column
  .content.r1-r2-r4
    %h3.dark-text= t(:about_restaurant)
    = render 'layouts/menu'
    - unless @section.title == "On-line бронирование" || @section.title == "On-line reservation"
      .content-text= raw(@section.body)
    
    - if @section.title == "On-line бронирование" || @section.title == "On-line reservation"
      - if notice == nil
        = raw(@section.body)
        = render 'reservations/form'
      - else
        %p= raw(@text_thanks.body)
    - elsif @section.title == "Отзывы" || @section.title == "Recalls"
      = render :partial => "sections/recall", :collection => @recalls

    - elsif @section.title == "Контакты и обратная связь" || @section.title == "Contacts and feedback"
      = render "contacts"
    - elsif @section.dish_categories != []

      = render :partial => "category", :collection => @section.dish_categories.visible

.right_column
  .section_images#scroll-styled
    - if @section.images.empty?
      = image_tag("empty_image(415x300).png")
    - else
      %table.section_images
        %tr
          - @section.images.each do |image|
            - if image.image?
              %td
                = link_to image.image.url(:display), :title => image.title do
                  = image_tag image.image_url
  #scroll-styled-flexcroll-hscroller
    .flexcroll-scrollbar
  %p.title-text Подпись
  
  .bottom.r2-r3
    - if @section.title == "Отзывы" || @section.title == "Recalls"
      = render 'recalls/form'
    - elsif @section.title == "Контакты и обратная связь" || @section.title == "Contacts and feedback"
      = render 'messages/form'
    - else
      %h3.dark-text= @text_banquets.title
      = raw(@text_banquets.body)
      
.clear