.left_column
	.content
		%h3#dark_text= t(:events_gallery)
		%hr
		= render "layouts/menu"
		%p
			#dark_text= @event.date.strftime("%d/%m/%Y")
			#light_text= @event.title
			= raw(@event.body)
	= render "shared/footer"
.right_column
	.image
		= @event.image? ? (image_tag @event.image_url) : image_tag("empty_image(415x300).png")
		= @event.image_title if (@event.image_title? && @event.image?)
	= render "archive"