.left_column
	.event
		%h3#dark_text МЕРОПРИЯТИЯ ФОТОГАЛЕРЕЯ
		%hr
		= render "layouts/menu"
		%p
			#dark_text= @event.date.strftime("%d/%m/%Y")
			#light_text= @event.title
			= @event.body
	= render "shared/footer"
.right_column
	= image_tag("rails.png")
	Подпись
	= render "archive"