- content_for :page_header do
  %h1
    - if @recall.new_record?
      Добавить отзыв
    - else
      Редактирование отзыва
      
= form_for [:admin,@recall] do |f|
  %table
    %tr
      %th= f.label :name
      %td= f.text_field :name
    %tr
      %th{:colspan => 2}
        = f.check_box :visible
        = f.label :visible
    %tr
      %td{:colspan => "2"}
        = f.label :body
        %br
        = f.text_area :body
      
  .actions
    = f.submit "Сохранить"
    = f.submit "Применить"
