- content_for :page_header do
  %h1 Отзывы
  %p
    = link_to "Добавить отзыв", new_admin_recall_path
  
%table.list
  %colgroup
    %col.w1
    %col.w1
    %col
    %col
    %col.w1
  %tr
    %th 
    %th Автор
    %th Отправлен
    %th
    %th
  - @recalls.each do |r|
    %tr
      %td
      %td.show= link_to "", [:toggleshow,:admin,r], :class => r.visible ? nil : "not-show"
      %td= link_to r.name, edit_admin_recall_path(r)
      %td= r.created_at.strftime("%d.%m.%Y/%H:%M")
      %td= link_to "Удалить", [:admin,r], :class => :del, :method => :delete
