- content_for :page_header do
  %h1
    - if @movie.new_record?
      Добавить фильма
    - else
      Редактирование фильма
  %p= link_to "Назад", [:admin, :movies]

= render "admin/shared/globalize_switcher"
= form_for [:admin, @movie] do |f|
  %table
    %tbody#russian_table
      %tr
        %th= f.label :title
        %td= f.text_field :title
      %tr
        %th= f.label :origin
        %td= f.text_field :origin
      %tr
        %th= f.label :genre
        %td= f.text_field :genre
      %tr
        %td{:colspan => "2"}
          = f.label :description
          %br
          = f.text_area :description
      %tr
        %th= f.label :director
        %td= f.text_field :director
      %tr
        %th= f.label :starring
        %td= f.text_field :starring
      %tr
        %th= f.label :country
        %td= f.text_field :country

    = f.globalize_fields_for :en do |g|
      %tbody#english_table
        %tr
          %th= g.label :title
          %td= g.text_field :title
        %tr
          %th= g.label :origin
          %td= g.text_field :origin
        %tr
          %th= g.label :genre
          %td= g.text_field :genre
        %tr
          %td{:colspan => "2"}
            = g.label :description
            %br
            = g.text_area :description
        %tr
          %th= g.label :director
          %td= g.text_field :director
        %tr
          %th= g.label :starring
          %td= g.text_field :starring
        %tr
          %th= g.label :country
          %td= g.text_field :country
    %tr
      %th= f.label :year
      %td= f.number_field :year
    %tr
      %th= f.label :original_title
      %td= f.text_field :original_title
    %tr
      %td= f.label :premiere
      %td= f.date_select :premiere
    %tr
      %td= f.label :duration
      %td= f.time_select :duration   
    %tr
      %th
      %td= image_tag @movie.image_url if @movie.image? 
    %tr
      %td= f.label :image
      %td= f.file_field :image 
    %tr
      %th= f.label :image_title
      %td= f.text_field :image_title 
    %tr
      %td= f.label :showtime
      %td= f.datetime_select :showtime    
    %tr
      %th{:colspan => 2}
        = f.check_box :visible
        = f.label :visible
      
  .actions
    = f.submit "Сохранить"
    = f.submit "Применить"