= content_for :page_header do
  %h1 Афиша кино
  %p= link_to "Добавить", new_admin_movie_path

- if @movies.empty?
  %h2 Вы еще не добавили ни одного фильма. 
  %p
    Хотите
    = link_to "добавить?", new_admin_movie_path
%table.list
  %colgroup
    %col.w1
    %col
    %col.w1
  %tr
    %th 
    %th Название
    %th Время показа
  - @movies.each do |movie|
    %tr
      %td.show= link_to "", [:toggleshow, :admin, movie], :class => movie.show ? nil : "not-show"
      %td= link_to movie.title, edit_admin_movie_path(movie)
      %td= movie.showtime.strftime("%d.%m.%Y/%H:%M")
      %td= link_to "Удалить", [:admin, movie], :class => :del, :method => :delete


