#dark_text
	= link_to "Трансляции", posts_path
	%br
	= link_to "Виды спорта", sports_path
	%p
		= link_to "Новости", posts_path
		%br
		= link_to "Мероприятия", events_path
		%br
		= link_to "Фильмы", movies_path
	%p
		= link_to "Обратная связь", messages_path
		%br
		= link_to "Отзывы", recalls_path
	%p
		= link_to "Блюда", dishes_path
	%p
		= link_to "Картинки", sliders_path
		%br
		= link_to "Тексты", texts_path
	%p
		= link_to "Бронь", reservations_path
	%p
		- if admin_signed_in?
			= current_admin.email
			(
			= link_to "Sign out", destroy_admin_session_path, :method => :delete
			)
		- else
			= link_to "Sign in", new_admin_session_path