.slider
	%ul
		- @sliders.each do |image|
			%li= image_tag image.slider_image_url if image.slider_image?
.qwerty
	.index_left
		= image_tag("logo_index.png")
		.locale
			= link_to "Русский", url_for(:locale => 'ru')
			= link_to "English", url_for(:locale => 'en')
		= image_tag("logo_text.png")
	.index_right
		.slider_title
			= @sliders.any? ? @sliders.last.title : "Место для названия блюда"
		.enter
			%hr
			= link_to "Вход на сайт", main_path
			#info
				Мы открыты c 7:30 утра до 23:00 и далее до последнего посетителя
			%hr