.slider
	%ul
		- @sliders.each do |image|
			%li= image_tag image.slider_image_url if image.slider_image?
.qwerty
	.index_left
		= image_tag("logo_index.png")
		.indexlocale
			= link_to image_tag('russian.png'), url_for(:locale => 'ru')
			= link_to image_tag('english.png'), url_for(:locale => 'en')
		= image_tag("logo_text.png")
	.index_right
		.enter_button
			#new
				%span= link_to t(:site_enter), main_path
				= link_to image_tag("index_point.png"), main_path
		
		.slider_title
			- @sliders.each do |image|
				%li= image.title
		.enter
			%hr
			= link_to t(:site_enter), main_path
			#info
				= t(:work_hours_info)
			%hr