.slider
  #slbox
    - unless @sliders.empty?
      #slcenter
        %div= image_tag @sliders.first.slider_image_url if @sliders.first.slider_image?

= content_for(:js, render("slider"))
.index_left

.enter_button
  #new
    %span= link_to t(:site_enter), main_path
    = link_to image_tag("index_point.png"), main_path

.slider_title
  - unless @sliders.empty?
    = @sliders.first.title