.left_column
	.reservation
		%h3 О РЕСТОРАНЕ
  	%hr
		= render 'layouts/menu'

		-@kids_menu.each do |dish|
			%p
				= dish.name
			%p
				= number_to_human(dish.portion, :units => {:unit => "г"}, :precision => 0)
				\..............................................................
				= number_to_currency(dish.price, :unit => "€")

.right_column
	= image_tag("rails.png")
	Подпись
	=render 'shared/banquet_info'