.left_column
	.reservation
		%h3#dark_text О РЕСТОРАНЕ
		%hr		
		= render 'layouts/menu'

		-@main_dishes.each do |dish|
			%p
				#light_text
					= "#{dish.name},"
					= number_to_currency(dish.price, :unit => "€")
				= number_to_human(dish.portion, :units => {:unit => "г"}, :precision => 0)
	= render "shared/footer"
.right_column
	= image_tag("rails.png")
	Подпись
	=render 'shared/banquet_info'