.left_column

	.about
		%h3 О РЕСТОРАНЕ
		%hr
		= truncate("text", :length => 25)
		%p= link_to "Подробнее", '/about'
	.main_menu
		%ul
			%li
				%h3= link_to "ОСНОВНЫЕ БЛЮДА", main_dishes_path
			%hr
			%li
				%h3= link_to "ЗАВТРАКИ", breakfasts_path
			%hr	
			%li
				%h3= link_to "БАРНАЯ КАРТА", bar_list_path
			%hr	
			%li
				%h3= link_to "БАНКЕТЫ", banquet_path
			%hr
			%li
				%h3= link_to "ДЕТСКОЕ МЕНЮ", kids_menu_path
	.news
		%h3 НОВОСТИ & СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ
		%hr
		%ul
			-@posts.each do |post|
				%li
					.post
						= image_tag("rails.png")
						%br
						= link_to post.date.strftime("%d/%m/%Y"), "#"
						%hr
						= link_to post.title, post_path(post)
.right_column
	.events
		%h3 МЕРОПРИЯТИЯ
		%hr
		%ul
			- @events.each do |event|
				%li= link_to event.title, event_path(event)
			
	.sport
		%h3 СПОРТИВНЫЕ ТРАНСЛЯЦИИ
		%hr
		%ul
			%li Трансляция
			%li Трансляция
	.movies
		%h3 АФИША КИНО
		%hr
		%ul
			%li Киношка
			%li Киношка
				



			