.left_column

	.about
		%h3#dark_text О РЕСТОРАНЕ
		%hr
		= truncate(@about.body, :length => 300)
		%p= link_to "Подробнее", section_path(@about)
	.main_menu
		%ul
			%li#dark_text= link_to "ОСНОВНЫЕ БЛЮДА", section_path(@main_dishes)
			%hr
			%li#dark_text= link_to "ЗАВТРАКИ", section_path(@breakfasts)
			%hr	
			%li#dark_text= link_to "БАРНАЯ КАРТА", section_path(@bar_list)
			%hr	
			%li#dark_text= link_to "БАНКЕТЫ", section_path(@banquet)
			%hr
			%li#dark_text= link_to "ДЕТСКОЕ МЕНЮ", section_path(@kids_menu)
	.news
		%h3#dark_text НОВОСТИ & СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ
		%hr
		%ul
			-@posts.each do |post|
				%li
					.post
						- if post.image?
							= link_to (image_tag post.image_url(:thumb)), post_path(post)
						%br
						#dark_text= link_to (post.created_at.nil? ? "-" : post.created_at.strftime("%d/%m/%Y") ), post_path(post)
						%hr
						#light_text
							= link_to post.title, post_path(post)
		%p
			Страницы: 
			= paginate @posts
	= render "shared/footer"
.right_column
	.events
		%h3#dark_text МЕРОПРИЯТИЯ
		%hr
		%ul
			- @events.each do |event|
				%li= link_to event.title, event_path(event)
			
	.sport
		%h3#dark_text СПОРТИВНЫЕ ТРАНСЛЯЦИИ
		%hr
		%ul
			- @sports.each do |sport|
				%li= link_to sport.title, sport_path(sport)


	.movies
		%h3#dark_text АФИША КИНО НА НЕДЕЛЮ
		- @movies.each do |movie|
			.movie_main
				%hr
				.right
					= image_tag movie.image_url(:small_movie) if movie.image?
					= movie.showtime.strftime("%d %B / %H:%M")
					%br
					.day_of_week
						= movie.showtime.strftime("%A")
						%p
							= movie.description.nil? ? "" : (link_to "Подробнее", movie_path(movie))

				.left
					%h3#light_text= link_to movie.title, movie_path(movie)
					%p
						= movie.director
						%br
							= movie.origin
							= ","
							= movie.genre
							= ","
							= movie.year