- content_for :page_header do
  %h1
    - if @dish_type.new_record?
      Добавить порцию
    - else
      Редактировать порцию
      -#=content_for(:page_sidebar) do
        %h5 Фотографии
        .product-photos
          %ul.photos#photo-list
            = render @dish.dish_images
          .queue
            #photo_upload
              = photo_uploadify(admin_dish_dish_images_path(@dish))
          =#photo_sortable      
= form_for [:admin,:section,:dish_category,:dish,@dish_type] do |f|
  -if @dish_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@dish_type.errors.count, "error")} prohibited this dish_type from being saved:"
      %ul
        - @dish_type.errors.full_messages.each do |msg|
          %li= msg  
  %table
    %tr
      %th= f.label :title
      %td= f.text_field :title
    %tr
      %th= f.label :price
      %td= f.text_field :price
    -#
      %tr
        %th= f.label :image
        %td= f.file_field :image
    -#%tr
      %th= label_tag :section_id, "Раздел"
      %td
        = select_tag :section_id, options_for_select(Section.all.collect {|p| [p.title,p.id]}, params[:section_id])        
    -#%tr
      %th= f.label :dish_category_id, "Категория"
      %td
        =# f.select :category_id, options_for_select(Category.all.collect {|p| [p.title,p.id]}, params[:category_id])
        = f.grouped_collection_select :dish_category_id, Section.order(:position), :dish_categories, :title, :id, :name
    %tr
      %th{:colspan => 2}
        = f.check_box :visible
        = f.label :visible      
    -#%tr
      %th{:colspan => 2}
        = f.check_box :show
        = f.label :show
    -#%tr
      %td{:colspan => 2}
        = f.label :desc
        %br
        = f.text_area :desc, :size => "40x3", class: :nowred
  -#%table
    = f.fields_for :views do |builder|
      = render "view_fields", :f => builder
    %tbody
      %tr
        %th
        %td= link_to_add_fields "Добавить вид", f, :views
        %td
  .actions
    = f.submit "Сохранить"
    = f.submit "Применить"