- content_for :page_header do
  %h1
    - if @sport.new_record?
      Добавить вид спорта
    - else
      Редактирование вида спорта
  %p= link_to "Назад", [:admin, :sports]
      
= form_for [:admin, @sport] do |f|
  %table
    %tr
      %th= f.label :title
      %td= f.text_field :title
    %tr
      %th
      %td= image_tag @sport.image_url if @sport.image? 
    %tr
      %td= f.label :image
      %td= f.file_field :image
    %tr
      %th= f.label :image_title
      %td= f.text_field :image_title 
    %tr
      %th{:colspan => 2}
        = f.check_box :visible
        = f.label :visible
  %table
    = f.fields_for :broadcasts do |builder|
      %tbody
        = render "broadcast_fields", :f => builder
    %tr
      %th
      %td= link_to_add_fields "Добавить трансляцию", f, :broadcasts
      %td
  .actions
    = f.submit "Сохранить"
    = f.submit "Применить"