- content_for :page_header do
  %h1
    - if @sport.new_record?
      Добавить вид спорта
    - else
      Редактирование вида спорта
  %p= link_to "Назад", [:admin, :sports]
      
= form_for [:admin, @sport] do |f|
  %table
    %tr
      %th= f.label :title
      %td= f.text_field :title
    %tr
      %th{:colspan => 2}
        = f.check_box :show
        = f.label :show
  .actions= f.submit "Сохранить"
