%h3#dark_text
  = "Отзывы +#{@positive_recalls} / -#{@negative_recalls}"
%hr
= form_for @recall do |f|

  %table
    %tr
      %td#light_text= f.label :name, "Имя*"
      %td.input= f.text_field :name
    %tr
      %td#light_text= f.label :email, "E-mail"
      %td.input= f.email_field :email
    %tr
      %td
      %td
        = f.radio_button 'positiveness', 'true' 
        Положительный
        = f.radio_button 'positiveness', 'false'
        Отрицательный
    %tr
      %td#light_text= f.label :body, "Ваш отзыв*"
      %td= f.text_area :body, :rows => 5
  .actions
    = f.submit 'Отправить сообщение'
  - if @recall.errors.any?
    #red * Поля обязательные к заполнению
  - else
    #light * Поля обязательные к заполнению

