%h3#dark_text
  = "#{t(:recalls)} +#{@positive_recalls} / -#{@negative_recalls}"
%hr
= form_for @recall do |f|

  %table
    %tr
      %td#light_text
        = f.label :name
        *
      %td.input= f.text_field :name
    %tr
      %td#light_text= f.label :email
      %td.input= f.email_field :email
    %tr
      %td
      %td
        = f.radio_button 'positiveness', 'true' 
        = t(:positive)
        = f.radio_button 'positiveness', 'false'
        = t(:negative)
    %tr
      %td#light_text
        = f.label :body
        *
      %td= f.text_area :body, :rows => 5
  .actions
    = f.submit t(:send_message)
  - if @recall.errors.any?
    #red= "* #{t(:required_fields)}"
  - else
    #light= "* #{t(:required_fields)}"