.left_column
	.recalls
		%h3#dark_text О РЕСТОРАНЕ
		%hr
		= render 'layouts/menu'
		- @recalls.each do |recall|
			%p
				#dark_text= recall.created_at.strftime("%d/%m/%Y")
				%hr
				#light_text= recall.name
				= recall.body
	= render "shared/footer"
.right_column
	= image_tag("rails.png")
	Подпись
	.recall_form
		=render 'form'