
= form_for @reservation do |f|
  -if @reservation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reservation.errors.count, "error")} prohibited this reservation from being saved:"
      %ul
        - @reservation.errors.full_messages.each do |msg|
          %li= msg
  .left_form_part
    %table
      %tr
        %td#light_text Ресторан
        %td#dark_text News&More
      %tr
        %td#light_text= f.label :firstname, "Имя"
        %td= f.text_field :firstname      
      %tr
        %td#light_text= f.label :lastname, "Фамилия"
        %td= f.text_field :lastname   
      %tr
        %td#light_text= f.label :email, "Почта"
        %td= f.email_field :email   
      %tr
        %td#light_text= f.label :persons, "Персон"
        %td= f.number_field :persons, :min => 1
  .right_form_part
    #light_text= f.label :comment, "Ваши пожелания"
    %p= f.text_area :comment, :cols => 29, :rows => 7
  .actions
    = f.submit "Забронировать столик"
