%p#notice= notice

%p
  %b Firstname:
  = @reservation.firstname
%p
  %b Lastname:
  = @reservation.lastname
%p
  %b Email:
  = @reservation.email
%p
  %b Persons:
  = @reservation.persons
%p
  %b Дата:
  = @reservation.datetime
%p
  %b Comment:
  = @reservation.comment
%p
  %b Курящие:
  = @reservation.smokers
%p
  %b Зал:
  = @reservation.hall

= link_to 'Edit', edit_reservation_path(@reservation)
\|
= link_to 'Back', reservations_path
