- content_for :page_header do
  %h1
    - if @broadcast.new_record?
      Добавить трансляцию
    - else
      Редактирование трансляции
  %p= link_to "Назад", [:admin, :broadcasts]

= render "admin/shared/globalize_switcher"
= form_for [:admin, @broadcast] do |f|
  %table
    %tbody#russian_table
      %tr
        %th= f.label :title
        %td= f.text_field :title
    = f.globalize_fields_for :en do |g|
      %tbody#english_table
        %tr
          %th= g.label :title
          %td= g.text_field :title
    %tbody
      %tr
        %th{:colspan => 2}
          = f.select(:sport_id, Sport.all.collect {|p| [ p.title, p.id ] }, {:include_blank => false})
      %tr
        %th= f.label :showtime
        %td= f.datetime_select :showtime  
      %tr
        %th{:colspan => 2}
          = f.check_box :visible
          = f.label :visible

  .actions
    = f.submit "Сохранить"
    = f.submit "Применить"