%h1 Listing dish_categories

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @dish_categories.each do |dish_category|
    %tr
      %td= dish_category.name
      %td= link_to 'Show', dish_category
      %td= link_to 'Edit', edit_dish_category_path(dish_category)
      %td= link_to 'Destroy', dish_category, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Dish category', new_dish_category_path
