%h1 Sign in

= form_for(resource, :as => resource_name, :url => root_path) do |f|
	= f.label :email
	%br
	= f.email_field :email
	%br
	= f.label :password
	%br
	= f.password_field :password
	%br
	= f.submit "Sign in"