%p#notice= notice

%p
  %b Title:
  = @broadcast.title
%p
  %b Showtime:
  = @broadcast.showtime
%p
  %b Sport:
  = @broadcast.sport.title

= link_to 'Edit', edit_broadcast_path(@broadcast)
\|
= link_to 'Back', broadcasts_path
