%h1 Listing menu_types

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @menu_types.each do |menu_type|
    %tr
      %td= menu_type.name
      %td= link_to 'Show', menu_type
      %td= link_to 'Edit', edit_menu_type_path(menu_type)
      %td= link_to 'Destroy', menu_type, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Menu type', new_menu_type_path
