.left_column
	.content
		%h3#dark_text НОВОСТИ & СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ
		%hr
		= render 'layouts/menu'
		%p#notice= notice
		%p#dark_text= @post.created_at.strftime("%d/%m/%Y")
		%p#light_text= @post.title
		%p= raw(@post.body)
	= render "shared/footer"
.right_column
	.image
		= image_tag @post.image_url if @post.image?
		= @post.image_title if (@post.image_title? && @post.image?)
	=render 'events/archive'