.left_column
  .content.r1-r2-r4
    %h3.dark-text= t(:news_and_special)
    = render 'layouts/menu'
    .post-i
      %h5.date= @post.created_at.strftime("%d/%m/%Y")
      %h4= @post.title
      .text= raw(@post.body)
    
.right_column
  .image
    =  @post.image? ? (image_tag @post.image_url) : image_tag("empty_image(415x300).png")
    = @post.image_title if (@post.image_title? && @post.image?)
  =render 'events/archive'