%h1 Listing menu_sections

%table
  %tr
    %th Title
    %th Body
    %th
    %th
    %th

  - @menu_sections.each do |menu_section|
    %tr
      %td= menu_section.title
      %td= menu_section.body
      %td= link_to 'Show', menu_section
      %td= link_to 'Edit', edit_menu_section_path(menu_section)
      %td= link_to 'Destroy', menu_section, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Menu section', new_menu_section_path
