- content_for :page_header do
  %h1
    - if @image.new_record?
      Добавить картинку
    - else
      Редактирование картинки
  %p= link_to "Назад", [:admin, :images]
      
= form_for [:admin, @image] do |f|
  %table
    %tr
      %th= f.label :title
      %td= f.text_field :title 
    %tr
      %th
      %td= image_tag @image.image_url if @image.image?
    %tr
      %td= f.label :image
      %td= f.file_field :image   
    %tr
      %th{:colspan => 2}
        = f.check_box :visible
        = f.label :visible
    %tr
      %th{:colspan => 2}
        = f.select(:section_id, Section.all.collect {|p| [ p.title, p.id ] }, {:include_blank => false})
      
  .actions
    = f.submit "Сохранить"
    = f.submit "Применить"