= content_for :page_header do
  %h1 Картинки
  %p= link_to "Добавить", new_admin_image_path

- if @images.empty?
  %h2 Вы еще не добавили ни одной картинки. 
  %p
    Хотите
    = link_to "добавить?", new_admin_image_path
%table.list
  %colgroup
    %col.w1
    %col
    %col.w1
  %tr
    %th 
    %th Подпись
    %th Раздел
  - @images.each do |image|
    %tr
      %td.show= link_to "", [:toggleshow, :admin, image], :class => image.visible ? nil : "not-show"
      %td= link_to image.title, edit_admin_image_path(image)
      %td= image.section.title
      %td= link_to "Удалить", [:admin, image], :class => :del, :method => :delete


