- a = controller.controller_name
%ul#nav
  -case @active
  -when :materials
    %li{:class => "#{'active' if "posts" == a}"}= link_to "Новости", [:admin,:posts]
    %li{:class => "#{'active' if "movies" == a}"}= link_to "Афиша кино", [:admin,:movies]
    %li{:class => "#{'active' if "reservations" == a}"}= link_to "Резервы", [:admin,:reservations]
    %li{:class => "#{'active' if "events" == a}"}= link_to "Мероприятия", [:admin,:events]
    %li{:class => "#{'active' if "sports" == a}"}= link_to "Виды спорта", [:admin,:sports]    
    %li{:class => "#{'active' if "broadcasts" == a}"}= link_to "Трансляции", [:admin,:broadcasts]
    %li{:class => "#{'active' if "sliders" == a}"}= link_to "Слайдеры (на мэйн)", [:admin,:sliders]
    %li{:class => "#{'active' if "recalls" == a}"}= link_to "Отзывы", [:admin,:recalls]
    %li{:class => "#{'active' if "images" == a}"}= link_to "Картинки", [:admin,:images]
    %li{:class => "#{'active' if "notes" == a}"}= link_to "Тексты", [:admin,:notes]
    %li{:class => "#{'active' if "messages" == a}"}= link_to "Обратная связь", [:admin,:messages]
  -when :menu
    %li{:class => "#{'active' if "sections" == a}"}= link_to "Разделы", [:admin,:sections]
    - if params[:section_id]
      %li{:class => "#{'active' if "dish_categories" == a}"}= link_to "Категории", admin_section_dish_categories_path(params[:section_id])
      - if params[:dish_category_id]
        %li{:class => "#{'active' if "dishes" == a}"}= link_to "Блюда", admin_section_dish_category_dishes_path(params[:section_id],params[:dish_category_id])
        - if params[:dish_id]
          %li{:class => "#{'active' if "dish_types" == a}"}= link_to "Порции", admin_section_dish_category_dish_dish_types_path(params[:section_id],params[:dish_category_id],params[:dish_id])
