- a = controller.controller_name
%ul#nav
  -case @active
  -when :materials
    %li{:class => "#{'active' if %w{articles}.include? a}"}= link_to "Новости", admin_articles_path
    %li{:class => "#{'active' if %w{reports}.include? a}"}= link_to "Отзывы", admin_reports_path
    %li{:class => "#{'active' if %w{slaiders images}.include? a}"}= link_to "Слайдеры", admin_slaiders_path
    %li{:class => "#{'active' if %w{pages}.include? a}"}= link_to "Страницы", admin_pages_path
    %li{:class => "#{'active' if %w{users}.include? a}"}= link_to "Пользователи", admin_users_path
    %li{:class => "#{'active' if %w{settings}.include? a}"}= link_to "Настройки", admin_settings_path
  -when :menu
    %li{:class => "#{'active' if "events" == a}"}= link_to "События", [:admin,:events]
    %li{:class => "#{'active' if "dishes" == a}"}= link_to "Диши", [:admin,:events]
    %li{:class => "#{'active' if "reservations" == a}"}= link_to "Резервы", [:admin,:events]
    
