%header
	%hr
	%ul
		%li
			= image_tag("rails.png")
			= link_to "ON_LINE БРОНИРОВАНИЕ", new_reservation_path
		%li
			= image_tag("rails.png")
			= link_to "КОНТАКТЫ: +7(495)605-17-84, +7(499)255-66-55", '#'
		%li
			= image_tag("rails.png")
			= link_to "НОВИНСКИЙ БУЛЬВАР, Д.11", '#'
		%li
			= image_tag("rails.png")
			= link_to "СХЕМА ПРОЕЗДА", '#'
		%li
			= image_tag("rails.png")
			= link_to "INFO@NEWSANDMORE.RU", '#'
		%li
			= image_tag("rails.png")
			= link_to "ОТЗЫВЫ", recalls_path
	%hr



