%header
	%hr
	%ul
		%li
			= image_tag("reservation.png")
			= link_to "ON-LINE БРОНИРОВАНИЕ", reservation_path
		%li
			= image_tag("phone.png")
			= link_to "КОНТАКТЫ: +7(495)605-17-84, +7(499)255-66-55", contacts_path
		%li
			= image_tag("adress.png")
			= link_to "НОВИНСКИЙ БУЛЬВАР, Д.11", contacts_path
		%li
			= image_tag("contacts.png")
			= link_to "СХЕМА ПРОЕЗДА", contacts_path
		%li
			= image_tag("email.png")
			= link_to "INFO@NEWSANDMORE.RU", '#'
		%li
			= image_tag("recalls.png")
			= link_to "ОТЗЫВЫ", recalls_path
	%hr



