.menu
	%h3 О РЕСТОРАНЕ
	%hr
	%ul
		%li= link_to "Назад в главное меню", root_path
		%li= link_to "Основные блюда", "#"
		%li= link_to "Завтраки", "#"
		%li= link_to "Детcкое меню", "#"
		%li= link_to "Барная карта", "#"
		%li= link_to "Банкетное предложение", "#"
		%li= link_to "Online-бронирование", new_reservation_path
		%li= link_to "Отзывы", "#"
		%li= link_to "Контакты и обратная связь", "#"
