.menu
  %ul
    %li= link_to "Назад в главное меню", main_path
    %li= link_to "Концепция и интерьер", about_path
    %li= link_to "Основные блюда", '#'#main_dishes_path
    %li= link_to "Завтраки", '#'#breakfasts_path
    %li= link_to "Детcкое меню", '#'#kids_menu_path
    %li= link_to "Барная карта", '#'#bar_list_path
    %li= link_to "Банкетное предложение", banquet_path
    %li= link_to "Online-бронирование", reservation_path
    %li= link_to "Отзывы", recalls_path
    %li= link_to "Контакты и обратная связь", contacts_path