<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en"}
  %head
    %title= "News&More | #{@title}"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags    
  %body.mainpage
    = render 'layouts/header'
    .wr= yield
    = render 'layouts/footer'