- content_for :page_header do
  %h1
    - if @dish.new_record?
      Добавить блюдо
    - else
      Редактировать блюдо
= render "admin/shared/globalize_switcher"
= form_for [:admin,:section,:dish_category,@dish] do |f|
  -if @dish.errors.any?
    #error_explanation
      %h2= "#{pluralize(@dish.errors.count, "error")} prohibited this dish from being saved:"
      %ul
        - @dish.errors.full_messages.each do |msg|
          %li= msg  
  %table
    %thead
      %tr.lang
        %th Язык/lang
        %td
          = link_to "Русский", nil, :class => "russian_globalize selected"
          | 
          = link_to "English", nil, :class => "english_globalize"
  %table#russian_table
    %tr
      %th= f.label :name
      %td= f.text_field :name
    %tr
      %th= f.label :description
      %td= f.text_area :description
  = f.globalize_fields_for :en do |g|
    %table#english_table
      %tr
        %th= g.label :name
        %td= g.text_field :name
      %tr
        %th= g.label :description
        %td= g.text_area :description
  %table
    %tr
      %th= label_tag :section_id, "Раздел"
      %td
        = select_tag :section_id, options_for_select(Section.all.collect {|p| [p.title,p.id]}, params[:section_id])
    %tr
      %th= f.label :dish_category_id, "Категория"
      %td
        = f.grouped_collection_select :dish_category_id, Section.order(:position), :dish_categories, :title, :id, :name
    %tr
      %th{:colspan => 2}
        = f.check_box :visible
        = f.label :visible      
  %table
    = f.fields_for :dish_types do |builder|
      %tbody
        = render "dish_type_fields", :f => builder
    %tr
      %th
      %td= link_to_add_fields "Добавить вид", f, :dish_types
      %td
  .actions
    = f.submit "Сохранить"
    = f.submit "Применить"