- content_for :page_header do
  %h1 Блюда
  %p= link_to "Добавить блюдо", [:new,:admin,:section,:dish_category,:dish]

= form_tag nil, :class => "change-location" do
  %span
    = label_tag :section_id, "Раздел"
    %br
    = select_tag :section_id, options_for_select(Section.order(:position).collect {|p| [p.title,p.id]}, params[:section_id]), :class => "change-location"
  %span
    = label_tag :dish_category_id, "Категория"
    %br
    = select_tag :dish_category_id, option_groups_from_collection_for_select(Section.order(:position).all, :dish_categories, :title, :id, :name, params[:dish_category_id]), :class => "change-location"
    = select_tag :dish_category_id, option_groups_from_collection_for_select(Section.order(:position), :dish_categories, :title, :id, :name, params[:dish_category_id]), :class => "change-location"
- unless @dishes.empty?
  %table.list.sortable.checkboxes
    %colgroup
      %col.w1
      %col.w1
      %col.wl
      %col
      %col
      %col.w1
      = render @dishes
  = sortable sort_admin_dishes_path
- else
  В данной категории еще нет добавленных блюд